*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
mlp/bin
mlp/obj
mlp/mlp.cbp
mlp/mlp.layout
mlp/mlp.depend
/mlp_parallel_c_sharp/mlp_parallel_c_sharp/bin
/mlp_parallel_c_sharp/mlp_parallel_c_sharp/obj
/mlp_parallel_c_sharp/mlp_parallel_c_sharp/*.csproj
/mlp_parallel_c_sharp/mlp_parallel_c_sharp/*.config
/mlp_parallel_c_sharp/mlp_parallel_c_sharp/Properties
